@import "../../common-ui/vars.module.scss";

.title {
  font-size: $font-size-bigger;
  margin-bottom: $margin-2;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "PleaseWriteMeASong";
}

.subTitle {
  font-size: $font-size-bigger;
  color: white;
  margin-left: 5px;
}

.navlink {
  color: $color-4;
  text-decoration: none;
}
